#box-model {
    margin: 50px auto;
    padding: 10px 20px;
    width: 150px;
    height: 100px;
    background-color: lightsteelblue;
    outline: 1px solid blueviolet;
}
.title{
    color: blueviolet;
}